<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header>
    <div class="inner">
        <h1><a href="/html">게임리뷰</a></h1>
        <ul>
            <li th:if="${session.loginId == 'admin'}"><a href="/html/game/gameForm">게임등록</a></li>
            <li><a href="/html/game/getAll">게임리스트</a></li>

            <li th:if="${session.loginTag != 'YES'}" ><a href="/html/user/loginForm">로그인</a></li>
            <li th:if="${session.loginTag == 'YES'}" ><a href="/html/user/logout">로그아웃</a></li>
            <li th:if="${session.loginTag != 'YES'}"><a href="/html/user/userForm">회원가입</a></li>
        </ul>
    </div>
</header>

  <h1>게임 신규 등록</h1>
  <hr/>
  <form method="post" action="/html/game/gameRegister" enctype="multipart/form-data">
      제목 : <input type="text" name="title"><br/>
      개발사 : <input type="text" name="developer"><br/>
      장르 : <input type="text" name="genre"><br/>
      출시일 : <input type="text" name="releasedate"><br/>
      요약 : <input type="text" name="summary"><br/>
      이미지 : <input type="file" name="fileOne"><br/>
      <input type="submit" value="게임 등록">
  </form>

<footer>
    <div class="inner">
        <div class="upper">
            게임 리뷰 사이트
        </div>
        <div class="lower">
            1912053 오혜성
        </div>
    </div>
</footer>
</body>
</html>